.earth .sarlavha{
    color:#83888F;
    font-size: 24px;
    margin-top: -500px;
    margin-left: 150px;
}

.card-3 img {
    padding-top: 100px;
    padding-left: 150px;
    display: inline-block;
}

.first {
    color:  #333D4B;
    font-size: 36px;
    font-family: 'Fraunces', serif;
    padding-top: 70px;
    padding-left: 150px; 
}

.earth .texts {
   margin-top: 30px;
   margin-left: 150px;
   font-size: 16px;
   color:#333D4B;
}

.texts .text4 {
    margin-top: 7px;
}

.texts .text3 {
    margin-top: 7px;
}

.texts .text2 {
    margin-top: 7px;
}

.card-4 img {
    position: relative;
    left: 520px;
    top: -295px;
}

.second {
    color:  #333D4B;
    font-size: 36px;
    font-family: 'Fraunces', serif;
    margin-top: -220px;
    padding-left: 500px; 
}

.texts-2{
    margin-top: 30px;
    margin-left: 500px;
    font-size: 16px;
    color:#333D4B;
}

.texts-2 .text4{
    margin-top: 7px;
}

.texts-2 .text3{
    margin-top: 7px;
}

.texts-2 .text2{
    margin-top: 7px;
}

.card-4 {
    margin-left: 30px;
}

.card-5 {
    margin-left: 900px;
    margin-top: -300px;
}

.third{
    color:  #333D4B;
    font-size: 36px;
    font-family: 'Fraunces', serif;
    margin-top: 80px;
    
}

.texts-3{
    font-size: 16px;
    color:#333D4B;
    margin-top: 30px;
}


.texts-3 .text4{
    margin-top: 7px;
}

.texts-3 .text3{
    margin-top: 7px;
}

.texts-3 .text2{
    margin-top: 7px;
}