.header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;

}

.nav-ul .li {
  text-transform: uppercase;
  color: #83888F;
  font-family: 'Barlow', sans-serif;

}

.navbar__nav-logo {
  display: flex;
  padding-left: 20px;

}

.nav-ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 400px;
}