.intro .card-1{
    width: 440px;
    height: 520px;
    background-repeat:no-repeat;
    background-image:url(../IMG/Bitmap\ \(15\).png);
    margin-left: 80px;
    border-radius: 10px;
    margin-top: -100px;
 }
 
 .intro .sarlavha {
     margin-left: 650px;
     font-size: 50px;
     position: absolute;
     margin-top: 90px;
     color: #333D4B;
     font-family: 'Fraunces', serif;
 }
 
 .intro .wrapper-2{
     margin-left: 650px;
     margin-top: -330px;
     color: #333D4B;
 
 }
 
 .wrapper-2 p:nth-child(10) {
     margin-top: 5px;
 }
 
 .wrapper-2 p:nth-child(9) {
     margin-top: 5px;
 }
 
 .wrapper-2 p:nth-child(8) {
     margin-top: 5px;
 }
 
 .wrapper-2 p:nth-child(7) {
     margin-top: 5px;
 }
 
 .wrapper-2 p:nth-child(6) {
     margin-top: 5px;
 }
 
 .wrapper-2 p:nth-child(5) {
     margin-top: 5px;
 }
 
 .wrapper-2 p:nth-child(4) {
     margin-top: 5px;
 }
 
 .wrapper-2 p:nth-child(3) {
     margin-top: 5px;
 }
 
 .wrapper-2 p:nth-child(2) {
     margin-top: 5px;
 }
 