.zero {
    width: 1200px;
    border-radius: 10px;
    height: 465px;
    margin: 700px auto;
    background-color: #2C343E;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.zero .sarlavha{
    font-size: 40px;
    color: white;
    font-family: 'Fraunces', serif;
    padding-left: 110px;
    padding-top: 100px;
}

.zero .wrapper-3 {
    color: #FEFCF7;
    opacity: 0.8;
    padding-left: 110px;
    padding-top: 50px;
    font-family: 'Fraunces', serif;
    font-size: 16px;
}

.wrapper-3 p:nth-child(5) {
    margin-top: 10px;
}

.wrapper-3 p:nth-child(4) {
    margin-top: 10px;
}

.wrapper-3 p:nth-child(3) {
    margin-top: 10px;
}

.wrapper-3 p:nth-child(2) {
    margin-top: 10px;
}

.card-2{
    width: 445px;
    height: 470px;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 10px;
    margin-left: 680px;
    margin-top: -400px;
    background-image: url(../IMG/Bitmap\ \(16\).png) ;
   
}